.car{
    width: 1450px;
    height: 1297px;
    position: absolute;

left: 4%;
top: 140px;

}

.login-card {
    position: absolute;
width: 750px;
height: 300px;
left: 500px;
top: 75px;
background:white;
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
border-radius: 5px;
 }

 .login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    
    position: absolute;
    width: 93px;
    height: 40px;
    left: 80%;
    top: 69%;
    
    /* Blue/100 */
    
    background: #5DA0EF;
    /* Blue/100 */
    
    border: 1.5px solid #5DA0EF;
    box-sizing: border-box;
    border-radius: 5px;
 }

 
 .foot{
      
    width: 100%;

 
 }

.f{
        
    color: white;
}
.p1{
    position: absolute;
    left: 83.14%;
    right: 40%;
    top: 45%;
}

.p2{
    position: absolute;
    left: 86.14%;
    right: 35%;
    top: 45%;
}

.p3{
    position: absolute;
    left: 89.14%;
    right: 30%;
    top: 45%;
}