.f-9 {
    font-size: 9px;
}

.f-14 {
    font-size: 14px;
}

.f-18 {
    font-size: 18px;
}

.f-13 {
    font-size: 13px;
}

.f-24 {
    font-size: 24px;
}

.f-16 {
    font-size: 16px;
}

.bg-body {
    background-color: #DDEFFC !important;
}

.m-content {
    margin-left: 9%;
    margin-right: 9%;
}

.f-blue {
    color: #0A2F5A;
}

.border-color {
    border-color: #0A2F5A;
}

.icon-color {
    color: #0A2F5A;
}


.foot {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #0A2F5A;
    width: 1600px;
    Height: 120px;

}

.hr {
    border: 3px;

    color: black;
}

.form-325 {
    width: 325px;
    height: 30px;
    color: #999999;
}

.form-275 {
    width: 275px;
    height: 30px;
    color: #999999;
}

.form-437 {
    width: 437px;
    height: 111px;
    color: #999999;
}

.form-270 {
    width: 270px;
    height: 30px;
    color: #999999;
}

.form-330 {
    width: 330px;
    height: 30px;
    color: #999999;
}

.form-363 {
    width: 363px;
    height: 30px;
    color: #999999;
}



.form-300 {
    width: 300px;
    height: 30px;
    color: #999999;
}


.form-169 {
    width: 169px;
    height: 30px;
    color: #999999;
}


.form-53 {
    width: 53px;
    height: 30px;
    color: #999999;
}

.text-right {
    text-align: right;
}

.foot {

    width: 100%;


}

.f {

    color: white;
}

.p1 {
    position: absolute;
    left: 83.14%;
    right: 40%;
    top: 45%;
}

.p2 {
    position: absolute;
    left: 86.14%;
    right: 35%;
    top: 45%;
}

.p3 {
    position: absolute;
    left: 89.14%;
    right: 30%;
    top: 45%;
}



.color-nav {
    background-color: #5DA0EF;
}

.navbar .navbar-brand img {
    width: 60px;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link.custom-item {
    color: rgb(255, 255, 255);
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link.custom-item:hover {
    color: rgb(0, 0, 0);
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link.custom-item.active {
    color: rgb(0, 0, 0);
}

@media(max-width:992px) {

    .navbar-dark .navbar-nav .nav-link:focus,
    .navbar-dark .navbar-nav .nav-link.custom-item {
        color: rgb(255, 255, 255);
        border: transparent;
    }

    .navbar-nav .nav-link.custom-item {
        padding: .5rem 1rem;
    }
}

/* .nav-item:hover{
        opacity: 1;
    }
    .nav-item{
        display: inline-block;
        opacity: 0.8;
        border-radius: 5px;
        height: 4%;
        display: block;
    }
    .nav-item img{
        width: 40px;
        height: 40px;
    } */
.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.container img {
    border-radius: 10px;
    height: 450px;
    width: 450px;
}

body {
    background-color: #a2c9f7;
}

.main .content {
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 5%;
}

.main {
    padding-top: 0rem;
    padding-bottom: 0rem;
    height: 100%!important;
}

@media(max-width:576px) {
    .main {
        padding-top: 5rem;
        padding-bottom: 6.25rem;
        height: max-content !important;
    }
}

@media(max-width:1000px) {
    .container {
        flex-direction: column;
    }
}

.content button {
    margin-top: 15%;
}

.footer {
    background-color: #0A2F5A;
    height: 100px;
    width: 100%;
}

.list {
    float: right;
    display: block;
}

li {
    list-style: none;
}

.border-red {
    border-color: red !important;
}

.text-red {
    color: red;
}

.btn-close {
    color: red !important;

}

.border-dot {
    border: 3px dotted rgb(194, 188, 188) !important;
}

.sticky-bottom {
    position: sticky;
    bottom: 0;
    z-index: 1020;
}

table thead tr.custom-rounded th:first-child {
    border-radius: .25rem 0 0 .25rem;
}

table thead tr.custom-rounded th:last-child {
    border-radius: 0 .25rem .25rem 0;
}

.carousel-inner>.item>img {
    width: 640px;
    height: 360px;
}

.carousel-indicators .custom-indicator {
    width: .5rem;
    height: .5rem;
    border-radius: 100%;
}

.bg-lightgrey {
    background-color: #DCDCDC;
}

.primary-button {
    color: #fff;
    background-color: #0A2F5A;
    border-color: #0A2F5A;
}

.primary-button:hover {
    color: #fff;
    background-color: #062952;
    border-color: #06284F;
}

.primary-button:active {
    color: #fff;
    background-color: #062952;
    border-color: #06284F;
}

.primary-button:focus {
    color: #fff;
    background-color: #062952;
    border-color: #06284F;
    box-shadow: 0 0 0 0.25rem rgb(10 47 90 / 50%);
}

input[type="date"] {
    flex-direction: row-reverse;
}

::-webkit-calendar-picker-indicator {
    display: none;
}

.header-color {
    --bs-table-bg: #B1DCFC;
    --bs-table-striped-bg: #96c0e0;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: rgb(157, 199, 207);
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #9ccbf0;
    --bs-table-hover-color: rgb(0, 0, 0);
    color: #000;
    border-color: #badce3;
}