/* 
.card {
    padding: 0px;
    width: 40%;
    border: 1px solid;
    color: #0A2F5A
}

.input-box {
    position: relative
}

.input-box i {
    position: absolute;
    right: 18px;
    top: 10px;
    color: #0A2F5A
}

.form-control {
    height: 20px;
    width: 100%;
}

.form-control:focus {
    background-color: #cac9c969;
    box-shadow: none;
    border-color:rgb(240, 237, 233)
}

body {
    background-color: #eee
} */
* {
    font-family: 'Segoe UI', Tahoma,Verdana, sans-serif;
 }
 

.card {
    background-color: #fff;
    width: 40%;
    padding: 10px;
    margin-left: 247px;
    border: none
}

.input-box {
    position: relative;
}

.input-box i {
    position: absolute;
    right: 13px;
    top: 13px;
    color: #0A2F5A;
    border-color: none;
}

.form-control {
    height: 40px;
    border-color: #0A2F5A ;
    border-width: 2px;
}

.form-control:focus {
    background-color: #eeeeeea6;
    box-shadow: none;
    border-color: #0A2F5A
}


.f-24{
    font-size: 24px;
}

.bg-body{
    background-color: #DDEFFC !important;
}

.m-content{
    margin-left: 11%;
    margin-right: 11%;
}

.f-blue{
    color: #0A2F5A;
}
.f-red{
    color: red;
}

.hr{
        border: 3px;
        width: 920px;
        color: black;
    }

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    }
      
td, th {
    text-align: center;
    padding: 8px;
}
      
th {
    background-color: #B1DCFC;
    }

@media screen and (min-width: 360px) and (max-width: 440px) {
    table {
        width:30%;
    }
    td,th {
        font-size: 7px;
        padding: 3px;
    }
    .card {
        width: 88%;
        padding: 10px;
        margin-left: 20px;
    }

    .h5-cus{
        font-size: 15px;
     }
    
}

@media only screen and (min-width: 450px) and (max-width: 600px){
    table {
        width: 70%;
        }
          
    td, th {
        padding: 8px;
        font-size: 9px;
    }
}

     
@media screen and (max-width: 370px) {
    table {
        width:20%;
    }
    td,th {
        padding: 2px;
        font-size: 6px;
    }

    .card {
        width: 85%;
        padding: 10px;
        margin-left: 20px;
    }
    .h5-cus{
        font-size: 15px;
     }
}

@media only screen and (min-width: 700px) and (max-width: 1000px){
    table {
        width: 90%;
        }
          
    td, th {
        padding: 5px;
    }
    .card {
        width: 50%;
        padding: 10px;
        margin-left: 100px;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1100px) {
    .card {
        width: 50%;
        padding: 10px;
        margin-left: 155px;
    }
}



      


    a {
        text-decoration: none;
   }
    .pagination-wrapper {
        text-align: center;
        margin: 0;
   }
    .pagination {
        display: inline-block;
        height: 40px;
        margin: 20px 0px 20px 0px;
        padding: 0 10px;
        background-color: #fff;
        box-shadow:  0px 6px 20px  rgba(0, 0, 0, 0.1);
        border-radius: 5px;
   }
    @media only screen and (max-width: 1199px) {
        .pagination {
            height: 30px;
            margin-top: 5px;
            padding: 0 10px;
            background-color: #fff;
            box-shadow:  0px 6px 20px  rgba(0, 0, 0, 0.1);
            border-radius: 5px;
       }
   }
    .page-numbers {
        display: block;
        padding: 0 10px;
        float: left;
        transition: 400ms ease;
        color: #0a0a0a;
        font-size: 14px;
        letter-spacing: 0.1em;
        line-height: 40px;
   }
    .page-numbers:hover, .page-numbers.current {
        background-color: #B1DCFC;
        color: rgb(10, 9, 9);
   }
    .page-numbers.prev:hover, .page-numbers.next:hover {
        background-color: transparent;
        color: #B1DCFC;
   }
    @media only screen and (max-width: 1199px) {
        .page-numbers {
            padding: 0 15px;
            font-size: 16px;
            line-height: 50px;
       }
   }
    @media only screen and (min-width: 470px) and (max-width: 1024px) {
        .page-numbers {
            padding: 0 14px;
            font-size: 15px;
            display: none;
            line-height: 30px;
       }
        .page-numbers:nth-of-type(2) {
            position: relative;
            padding-right: 50px;
       }
        .page-numbers:nth-of-type(2)::after {
            content: '...';
            position: absolute;
            font-size: 25px;
            top: 0;
            left: 45px;
       }
        .page-numbers:nth-child(-n+3), .page-numbers:nth-last-child(-n+3) {
            display: block;
       }
        .page-numbers:nth-last-child(-n+4) {
            padding-right: 14px;
       }
        .page-numbers:nth-last-child(-n+4)::after {
            content: none;
       }
   }

   @media only screen and (min-width: 100px) and (max-width: 469px) {
    .page-numbers {
        display: none;
        padding: 0 8px;
        color: #0a0a0a;
        font-size: 10px;
        line-height: 30px;
   }
    .page-numbers:nth-of-type(2) {
        position: relative;
        padding-right: 50px;
   }
    .page-numbers:nth-of-type(2)::after {
        content: '...';
        position: absolute;
        font-size: 12px;
        top: 0;
        left: 45px;
   }
    .page-numbers:nth-child(-n+3), .page-numbers:nth-last-child(-n+3) {
        display: block;
   }
    .page-numbers:nth-last-child(-n+4) {
        padding-right: 4px;
   }
    .page-numbers:nth-last-child(-n+4)::after {
        content: none;
   }
}
    
   .foot{
      
    width: 100%;

 }

 .f{
     
     color: rgb(192, 35, 35);
 }
 .p1{
     position: absolute;
     left: 83.14%;
     right: 40%;
     top: 105%;
 }

 .p2{
     position: absolute;
     left: 86.14%;
     right: 35%;
     top: 105%;
 }

 .p3{
     position: absolute;
     left: 89.14%;
     right: 30%;
     top: 105%;
 }

 
.h5-cus{
    font-size: auto;
 }



