.f-14{
    font-size: 14px;
}

.f-18{
    font-size: 18px
}

.f-13{
    font-size: 13px;
}

.f-24{
    font-size: 24px;
}

.f-16{
    font-size: 16px;
}

.bg-body{
    background-color: #DDEFFC !important;
}

.m-content{
    margin-left: 11%;
    margin-right: 11%;
}

.f-blue{
    color: #0A2F5A;
}

.border-color{ border-color: #0A2F5A;
}

.icon-color{
    color: #0A2F5A;
}


    .foot{
        position: fixed;
       left: 0;
       bottom: 0;
       width: 100%;
    background: #0A2F5A;
    width: 1600px;
    Height: 120px;
    
    }

    .hr{
        border: 3px;
        
        color: black;
    }

    .form-325{
        width: 325px;
height: 30px;
color: #999999;
    }

    .form-275{
        width: 275px;
height: 30px;
color: #999999;
    }

    .form-437{
        width: 437px;
height: 111px;
color: #999999;
    }

    .form-270{
        width: 270px;
height: 30px;
color: #999999;
    }

    .form-330{
        width: 330px;
height: 30px;
color: #999999;
    }

    .form-363{
        width: 363px;
height: 30px;
color: #999999;
    }

    

    .form-300{
        width: 300px;
height: 30px;
color: #999999;
    }

    
    .form-169{
        width: 169px;
height: 30px;
color: #999999;
    }

    
    .form-53{
        width: 53px;
height: 30px;
color: #999999;
    }

    .text-right{
        text-align: right;
    }

      
    .form-75{
        width: 75px;
height: 30px;
color: #999999;
    }

    .form-195{
        width: 195px;
height: 30px;
color: #7c7a7a;
    }

    form-117{
        width: 117px;
height: 30px;
color: #999999;
    }

    .foot{
      
       width: 100%;
  
    
    }

    .f{
        
        color: white;
    }
    .p1{
        position: absolute;
        left: 83.14%;
        right: 40%;
        top: 45%;
    }

    .p2{
        position: absolute;
        left: 86.14%;
        right: 35%;
        top: 45%;
    }

    .p3{
        position: absolute;
        left: 89.14%;
        right: 30%;
        top: 45%;
    }

    .f-14{
        font-size: 14px;
    }
    
    .f-18{
        font-size: 18px;
    }
    
    .f-13{
        font-size: 13px;
    }
    
    .f-24{
        font-size: 24px;
    }
    
    .bg-body{
        background-color: #DDEFFC !important;
    }
    
    .m-content{
        margin-left: 11%;
        margin-right: 11%;
    }
    
    .f-blue{
        color: #0A2F5A;
    }
    
    .border-color{ border-color: #0A2F5A;
    }
    
    .icon-color{
        color: #0A2F5A;
    }
    
    
        .foot{
            position: fixed;
           left: 0;
           bottom: 0;
           width: 100%;
        background: #0A2F5A;
        width: 1600px;
        Height: 120px;
        
        }
    
        .hr{
            border: 3px;
            width: 1122px;
            color: black;
        }
    
        .form-325{
            width: 325px;
    height: 30px;
    color: #999999;
        }
    
        .form-275{
            width: 275px;
    height: 30px;
    color: #999999;
        }
    
        .form-437{
            width: 437px;
    height: 111px;
    color: #999999;
        }
    
        .form-270{
            width: 270px;
    height: 30px;
    color: #999999;
        }
    
        .form-330{
            width: 330px;
    height: 30px;
    color: #999999;
        }
    
        .form-363{
            width: 363px;
    height: 30px;
    color: #999999;
        }
    
        
    
        .form-300{
            width: 300px;
    height: 30px;
    color: #999999;
        }
    
        
        .form-169{
            width: 169px;
    height: 30px;
    color: #999999;
        }
    
        
        .form-53{
            width: 53px;
    height: 30px;
    color: #999999;
        }
    
        .text-right{
            text-align: right;
        }
    
          
        .form-75{
            width: 75px;
    height: 30px;
    color: #999999;
        }
    
        .form-195{
            width: 195px;
    height: 30px;
    color: #7c7a7a;
        }
    
        form-117{
            width: 117px;
    height: 30px;
    color: #999999;
        }
    
        
        .foot{
          
           width: 100%;
      
        
        }
        
        .f{
            
            color: white;
        }
        .p1{
            position: absolute;
            left: 83.14%;
            right: 40%;
            top: 45%;
        }
    
        .p2{
            position: absolute;
            left: 86.14%;
            right: 35%;
            top: 45%;
        }
    
        .p3{
            position: absolute;
            left: 89.14%;
            right: 30%;
            top: 45%;
        }

        .cross{
            color: red;
        }
    
      
        .but{
           background: #5DA0EF;
        }
        
        
.bordercol{ 
    border-color: red;


}

.f-red{
    color: red;
}
    .sv{
        background:#00CC39 ;
        border-color: #00CC39;
    }
    .pos{
        float: right;
    }