* {
   font-family: 'Segoe UI', Tahoma,Verdana, sans-serif;
}

.login-card {
   position: absolute;
   left: 27.43%;
   right: 27.43%;
   top: 20.75%;
   bottom: 10.75%;

   background: #FFFFFF;
   box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
   border-radius: 5px;
}

.reset-card {
  position: absolute;
  left: 27.43%;
  right: 27.43%;
  top: 15.75%;
  bottom: 5.75%;

  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.buttons {
  background-color: #e71a1a;
  color: white;
  padding: 3px 3px;
  margin: 1px 0px;
  width: 100%;
  text-align: center;
  border-radius: 0px;
}

.signup-card {
   position: absolute;
   left: 27.43%;
   right: 27.43%;
   top: 20.75%;
   bottom: 10.75%;

   background: #FFFFFF;
   box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
   border-radius: 5px;
}

.t-login{
   position: absolute;
   left: 5.07%;
   right: 75.83%;
   top: 3%;
   bottom: 80.55%;
   font-style: normal;
   font-weight: 600;
   font-size: 48px;
   line-height: 72px;
   /* identical to box height */
   text-align: center;
   color: #000000;
   }

.t-signup{
   position: absolute;
   left: 5.07%;
   right: 60%;
   top: 1%;
   bottom: 80.55%;
   
      font-weight: 600;
      font-size: 48px;
      line-height: 72px;
      /* identical to box height */
   
      text-align: center;
   
      color: #000000;
   }

.t-forget{
   position: absolute;
   left: 5.07%;
   right: 75.83%;
   top: 3%;
   bottom: 80.55%;
      
   font-weight: 600;
   font-size: 48px;
   line-height: 72px;
         /* identical to box height */
   text-align: center;
   color: #000000;
   
   line-height: 1.2;
      }




.p-form{
      position: absolute;
      left: 20.43%;
      right: 20.43%;
      top: 22%;
      bottom: 18.75%;  
   }

.reset-form{
    position: absolute;
    left: 20.43%;
    right: 20.43%;
    top: 33%;
    bottom: 15.75%;  
 }

.signup-form{
      position: absolute;
      left: 5%;
      right: 5%;
      top: 22%;
      bottom: 18.75%;  
   }

.forget-form{
   position: absolute;
   left: 20.43%;
      right: 20.43%;
      top: 40%;
      bottom: 18.75%;
   }

label{
      font-size: 14px;
      color: #000000;
}

input[type=text], input[type=password] {
   width: 100%;
   padding: 4px 4px;
   margin: 8px 0;
   display: inline-block;
   border: 1.5px solid #999999;
   box-sizing: border-box;
   font-size: 13px;
   border-radius: 5px;
 }
 input[type=radio] {
   margin-left: 5px;
 }

 
 button {
   background-color: #0A2F5A;
   color: white;
   padding: 5px 5px;
   margin: 30px 0;
   border: none;
   cursor: pointer;
   width: 100%;
   border-radius: 5px;
 }

 .reset-button {
   background-color: #0A2F5A;
   color: white;
   padding: 5px 5px;
   margin: 15px 0;
   border: none;
   cursor: pointer;
   width: 100%;
   border-radius: 5px;
 }
 
 button:hover {
   opacity: 0.8;
 }
 
 .container {
   padding: 12px;
 }

 .container3 {
   padding: 10px 16px 16px 16px;
 }

 .container4 {
   padding: 1px 12px 12px 12px;
 }
 
 span.psw {
   float:right;
   font-size: 14px;
 }

 .eye{
    position:relative;
    right: 20px;
    transform: translate(0, 19%);
    top: 50%;
    cursor: pointer;
 }
 .eyes{
  position: absolute;
  right: 25px;
  transform: translate(0, -360%);
  top: 50%;
  cursor: pointer;
}

.eyess{
  position: absolute;
  right: 25px;
  transform: translate(0, -70%);
  top: 50%;
  cursor: pointer;
}
.eyesss{
  position: absolute;
  right: 25px;
  transform: translate(0, 50%);
  top: 43%;
  cursor: pointer;
}

.reg-eye{
  position: absolute;
  right: 25px;
  transform: translate(0, -30%);
  top: 50%;
  cursor: pointer;
}

.reg-eyes{
  position: absolute;
  right: 25px;
  transform: translate(0, 260%);
  top: 50%;
  cursor: pointer;
}

 .fa{
    font-size: 12px;
    color:#7a797e;
 }
 
 /* Change styles for span and cancel button on extra small screens */
 @media screen and (max-width: 599px) {
   span.psw {
      display: block;
      float: none;
   }
   .cancelbtn {
      width: 100%;
   }
   .container {
      padding: 1px;
   }
   .container4 {
      padding: 1px;
   }
 
   .login-card{
      position: absolute;
      left: 10.43%;
      right: 10.43%;
      top: 15.75%;
      bottom: 15.75%;
   }
}

.horizontal-group .left{
    float:left;
    width:49%;
  }
  
  .horizontal-group .right{
    float:right;
    width:49%;
  }

  .b-signup{
       position: absolute;
       left: 25%;
       right: 25%;
       top: 90%;
  }

  
  .input-group {
    padding-top: 10px;
    font-size: 14px;
    color: #0A2F5A;
  }

  .container2{
     max-width: 900px;
     margin: 0 auto;
  }

  .container5{
   max-width: 700px;
   margin: 30px;
}

  table {
   border-collapse: collapse;
   width: 60%;
   margin: 0 auto;
   margin-top: 10px;
 }

 td, th {
   text-align: center;
   font-size: 16px;
   padding: 8px;
 }
 
 th {
 background-color: #B1DCFC;
 }

 @media screen and (max-width: 500px) {
   table {
      width:30%;
   }
   td,th {
      font-size: 10px;
      padding: 4px;
   }
 }

 @media screen and (min-width: 270px) and (max-width: 350px) {
   table {
      width:20%;
   }
   td,th {
      padding: 2px;
      font-size: 8px;
   }
 }

 @media only screen and (min-width: 501px) and (max-width: 600px){
   table {
       width: 70%;
       }
         
   td, th {
       padding: 9px;
       font-size: 11px;
   }
}

 
 

 

.h5-cus{
   margin: 20px 0px 20px 0px;
   color: #0A2F5A;
}
 
.label20{
   font-size: 20px;
}

@media screen and (max-width: 1000px) {
   .horizontal-group .left{
      width:100%;
    }
    .horizontal-group .right{
      width:100%;
    }
    .signup-card{
      /* position: absolute;
      left: 10.43%;
      right: 10.43%;
      top: 15%;
      bottom: 1%; */

      position: absolute;
      left: 10.43%;
      right: 10.43%;
      top: 15%;
      bottom: -15%;
   }
   .b-signup{
      position: absolute;
      left: 25%;
      right: 25%;
      top: 115%;
 }

 .signup-form{
   position: absolute;
   left: 5%;
   right: 5%;
   top: 15%;
   bottom: 20.75%;  
}
 .t-signup{
   position: absolute;
   left: 1.07%;
   right: 40%;
   top: 1%;
   bottom: 80.55%;
   font-size: 35px;
 }

 .h5-cus{
   margin: 10px 0px 10px 0px;
   color: #0A2F5A;
}
 
.label20{
   font-size: 15px;
}

}
.lebar{
   height: 30px;
   border: 1px solid;
}


.card {
   background-color: #fff;
   width: 40%;
   padding: 15px;
   border: none
}

.cardo {
  background-color: #fff;
  width: 40%;
  padding: 10px;
  margin-left: 247px;
  border: none
}

.input-box {
   position: relative;
}

.input-box i {
   position: absolute;
   right: 13px;
   top: 17px;
   color: #0A2F5A;
   border-color: none;
}

.form-control {
   height: 50px;
   background-color: #eeeeee69;
   border-color: #0A2F5A ;
   border-width: 2px;
}

.form-control:focus {
   background-color: #eeeeeea6;
   box-shadow: none;
   border-color: #0A2F5A
}

.f-24{
   font-size: 24px;
}

.bg-body{
   background-color: #DDEFFC !important;
}

.m-content{
   margin-left: 11%;
   margin-right: 11%;
}

.f-blue{
   color: #0A2F5A;
}



.hr{
   border: 3px;
   width: 920px;
   color: rgb(238, 40, 40);
}

.f-9 {
  font-size: 9px;
}

.f-14 {
  font-size: 14px;
}

.f-18 {
  font-size: 18px;
}

.f-13 {
  font-size: 13px;
}

.f-24 {
  font-size: 24px;
}

.f-16 {
  font-size: 16px;
}

.bg-body {
  background-color: #DDEFFC !important;
}

.m-content {
  margin-left: 9%;
  margin-right: 9%;
}

.f-blue {
  color: #0A2F5A;
}

.border-color {
  border-color: #0A2F5A;
}

.icon-color {
  color: #0A2F5A;
}


.foot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #0A2F5A;
  width: 1600px;
  Height: 120px;

}

.hr {
  border: 3px;

  color: black;
}

.form-325 {
  width: 325px;
  height: 30px;
  color: #999999;
}

.form-275 {
  width: 275px;
  height: 30px;
  color: #999999;
}

.form-437 {
  width: 437px;
  height: 111px;
  color: #999999;
}

.form-270 {
  width: 270px;
  height: 30px;
  color: #999999;
}

.form-330 {
  width: 330px;
  height: 30px;
  color: #999999;
}

.form-363 {
  width: 363px;
  height: 30px;
  color: #999999;
}



.form-300 {
  width: 300px;
  height: 30px;
  color: #999999;
}


.form-169 {
  width: 169px;
  height: 30px;
  color: #999999;
}


.form-53 {
  width: 53px;
  height: 30px;
  color: #999999;
}

.text-right {
  text-align: right;
}

.foot {

  width: 100%;


}

.f {

  color: white;
}

.p1 {
  position: absolute;
  left: 83.14%;
  right: 40%;
  top: 45%;
}

.p2 {
  position: absolute;
  left: 86.14%;
  right: 35%;
  top: 45%;
}

.p3 {
  position: absolute;
  left: 89.14%;
  right: 30%;
  top: 45%;
}



.color-nav {
  background-color: #5DA0EF;
}

.navbar .navbar-brand img {
  width: 60px;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link.custom-item {
  color: rgb(255, 255, 255);
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link.custom-item:hover {
  color: rgb(0, 0, 0);
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link.custom-item.active {
  color: rgb(0, 0, 0);
}

@media(max-width:992px) {

  .navbar-dark .navbar-nav .nav-link:focus,
  .navbar-dark .navbar-nav .nav-link.custom-item {
      color: rgb(255, 255, 255);
      border: transparent;
  }

  .navbar-nav .nav-link.custom-item {
      padding: .5rem 1rem;
  }
}

/* .nav-item:hover{
      opacity: 1;
  }
  .nav-item{
      display: inline-block;
      opacity: 0.8;
      border-radius: 5px;
      height: 4%;
      display: block;
  }
  .nav-item img{
      width: 40px;
      height: 40px;
  } */
.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.container img {
  border-radius: 10px;
  height: 450px;
  width: 450px;
}

body {
  background-color: #a2c9f7;
}

.main .content {
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 5%;
}

.main {
  padding-top: 0rem;
  padding-bottom: 0rem;
  height: 100%!important;
}

@media(max-width:576px) {
  .main {
      padding-top: 5rem;
      padding-bottom: 6.25rem;
      height: max-content !important;
  }
}

@media(max-width:1000px) {
  .container {
      flex-direction: column;
  }
}

.content button {
  margin-top: 15%;
}

.footer {
  background-color: #0A2F5A;
  height: 100px;
  width: 100%;
}

.list {
  float: right;
  display: block;
}

li {
  list-style: none;
}

.border-red {
  border-color: red !important;
}

.text-red {
  color: red;
}

.btn-close {
  color: red !important;

}

.border-dot {
  border: 3px dotted rgb(194, 188, 188) !important;
}

.sticky-bottom {
  position: sticky;
  bottom: 0;
  z-index: 1020;
}

table thead tr.custom-rounded th:first-child {
  border-radius: .25rem 0 0 .25rem;
}

table thead tr.custom-rounded th:last-child {
  border-radius: 0 .25rem .25rem 0;
}

.carousel-inner>.item>img {
  width: 640px;
  height: 360px;
}

.carousel-indicators .custom-indicator {
  width: .5rem;
  height: .5rem;
  border-radius: 100%;
}

.bg-lightgrey {
  background-color: #DCDCDC;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  text-decoration:none;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}